footer {
    .wrapper-footer {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        margin: 0 auto;
        background-color: rgba(21, 60, 60, 1);
        img {
            text-align: center;
            margin: 0 auto;
            padding-top: 80px;
        }
    }
    @media (max-width:1350px) {
        .wrapper-footer {
            width: 100%;
            display: grid;
            text-align: center;
            grid-template-columns: auto;
            img {
                max-width: 800px;
            }
        }
    }
    @media (max-width:800px) {
        .wrapper-footer {
            display: grid;
            text-align: center;
            grid-template-columns: auto;
            img {
                max-width: 600px;
            }
            
        }
    }
    @media (max-width:600px) {
        .wrapper-footer {
            display: grid;
            text-align: center;
            grid-template-columns: auto;
            img {
                max-width: 400px;
            }
            
        }
    }
}